#main {
	background-color: #7FFFD4!important;
	color: red;
}
#textsection {
	background-color: #aoaoao;
}
#line1 {
	background-color: black;
	height: 1px;
}
#line2 {
	background-color: black;
	height: 1px;
}
#forma {
	color: black;
}
