
.button {
	border: none;
	color:  red;
	background-color: #008CBA;
}
button {
	border-top:  30px;
	border-width:  3px;
	botrder-bottom: 30px;
	color:  red;
	background-color: #008CBA;stroke-linecap: 
	padding: 10px;
}
.buttona {
	border: none;
	color:  red;
	background-color: #008CBA;
}
#main {
	background-color: #FFBD33!important;
	color: red;
}
#textsection {
	background-color: #FFBD33;
	color: black;
}
#buttonsection {
	background-color: #FFBD33;
	color: black;
}
#line1 {
	background-color: black;
	height: 1px;
}
#line2 {
	background-color: black;
	height: 1px;
}
#forma {
	color: black;
}
#displaysection {
	background-color: #FFBD33;
}
